html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
img { width: 100%}
#map_canvas { height: 100% }
#fcc_logo {
  width: 128px;
  height:128px;
  position: fixed;
  bottom: -5px;
  left: 30px;
  opacity: 0.2;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
}
#fcc_logo:hover {
    opacity:1;
}